<!DOCTYPE html>
<html lang="en" ng-app="multiplayertime">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/login.css">
</head>
<body ng-controller="LoginController" >

	<div layout-fill layout="row">
		<div class="bg background-tint" flex hide-xs>
		</div>

		<div class="container md-whiteframe-6dp" flex layout="row" >
			<div flex="15" flex-xs="10"></div>
			<div flex="70" flex-xs="80">
				<div layout="row" layout-align="center center">
					<a href="/">
						<img src="/images/logo2.png" height="75" hide-xs show>
					</a>
				</div>
				<div layout-padding></div>
				<div layout-padding></div>
				<div layout-padding></div>

				<h2 class="md-display-1">Sign up</h2>
				<h2 class="md-subhead">Sign up and Play our best Games.</h2>

				<div layout-padding></div>
				<div layout-padding></div>
				<div layout-padding></div>

				<md-input-container class="md-block">
					<label>Username / E-mail</label>
					<input ng-model="username" type="text">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Password</label>
					<input ng-model="password" type="password">
				</md-input-container>


				<div layout="column">
					<md-button class="md-primary md-raised" ng-click="login()">Login</md-button>
					<md-button class="md-primary" href="/signup">New Account</md-button>
				</div>

				<div layout-padding></div>
				<div layout-padding></div>
				<div layout-padding></div>
			</div>

		</div>


		<script type="text/javascript" src="/scripts/cookies.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

		<script src="/scripts/multiplayertime_app.js"></script>
		<script src="/scripts/controllers/login_controller.js"></script>
	</body>
	</html>