@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

md-sidenav,
md-sidenav.md-locked-open-add-active,
md-sidenav.md-closed.md-locked-open-add-active,
md-sidenav.md-locked-open {
  width: 270px;
  min-width: 270px;
  max-width: 270px;
}

.sidenav .md-button {
  padding: 2px 35px;
  margin: 0px;
  min-width: 88px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  text-align: left;
  border-radius: 0px;
  font-weight:bold;
  color: #666;
}
.sidenav .md-title{
  padding: 0px 15px;
  line-height: 0;
}
.md-headline{
  padding: 0px;
  line-height: 0;
}
.container{
  margin : 20px;
}