<md-dialog aria-label="Mango (Fruit)" style="max-width: 400px; width: 400px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">clear</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <div layout="column" flex style="padding: 20px;" >
        <form name="registerForm">
          <md-input-container flex>
            <label>Current Password</label>
            <input ng-model="password" type="password" name="password" required>
            <div ng-messages="registerForm.password.$error" role="alert">
              <div ng-message="required">You must fill the password</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>New Password</label>
            <input ng-model="newpassword" type="password" name="newpassword" required>
          </md-input-container>

          <md-input-container flex>
            <label>Confirm Password</label>
            <input ng-model="confirmpassword" type="password" name="confirmpassword" required password-verify="{{newpassword}}">
            <div ng-messages="registerForm.confirmpassword.$error" role="alert">
              <div ng-message="passwordVerify">Passwords don't match</div>
            </div>
          </md-input-container>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button ng-click="hide()">
       Change PASsword
     </md-button>
   </md-dialog-actions>
 </md-dialog>