<md-content class="container">
	<md-card >
		<div layout="row" layout-padding>
			<h2 class="md-headline" flex>Categories</h2>
			<md-button class="md-icon-button" ng-click="showConfirm($event)"><md-icon class="material-icons">delete</md-icon></md-button>
		</div>

		<md-list-item ng-repeat="category in categories | orderBy:'name'">
			<md-checkbox ng-model="category.selected"></md-checkbox>
			<p>{{category.name}}</p>
			<md-button class="md-icon-button" ng-click="go(category.id)"><md-icon class="material-icons">edit</md-icon></md-button>
		</md-list-item>
	</md-card>
</md-content>